/* List item */
.item {
  padding: 8px 16px;
  list-style-type: none;
  cursor: pointer;
}

.item.noPadding {
  padding: 0;
}

.item.noPadding:first-child:hover {
  border-top-left-radius: var(
    --button-outlined-medium-borderRadius-default,
    10px
  );
  border-top-right-radius: var(
    --button-outlined-medium-borderRadius-default,
    10px
  );
}

.item.noPadding:last-child:hover {
  border-bottom-left-radius: var(
    --button-outlined-medium-borderRadius-default,
    10px
  );
  border-bottom-right-radius: var(
    --button-outlined-medium-borderRadius-default,
    10px
  );
}

.itemBorder {
  border-bottom: 1px solid var(--divider-color, #eeeeee);
}

.itemBorder:last-of-type {
  border-bottom: none;
}

/*hover*/
.item:hover {
  /* border-radius: var(--button-outlined-medium-borderRadius-default, 10px); */
  background: var(--divider-hover, #eeeeee);
}

/*active*/
.item:active {
  /* border-radius: var(--button-outlined-medium-borderRadius-default, 10px); */
  background: var(--divider-active, #cccccc);
}
