.after,
.before,
.button,
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.after,
.before,
.buttonContent {
  height: 24px;
  font-family: var(--font-family);
  line-height: normal;
}

/* Enabled */

.primary {
  color: var(--button-primary-enabled-font-color, #fff);
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: var(--button-primary-enabled-background-color, #085cff);
  gap: var(--button-secondary-medium-whiteSpace-gap, 8px);
}

.secondary {
  color: var(--button-secondary-enabled-font-color, #1e222a);
  border-radius: var(--button-secondary-medium-borderRadius-default, 16px);
  background: var(--button-secondary-enabled-background-color, #dbdfeb);
  gap: var(--button-secondary-medium-whiteSpace-gap, 8px);
}

.outlined {
  color: var(--button-outlined-enabled-font-color, #1e222a);
  background: var(--button-outlined-enabled-background-color, #fff);
  gap: var(--button-outlined-medium-whiteSpace-gap, 8px);
  border-radius: var(--button-outlined-medium-borderRadius-default, 16px);
  border: 1px solid var(--button-outlined-enabled-border-color, #747e97);
}

.transparent {
  color: var(--button-transparent-enabled-font-color, #ffffff);
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: transparent;
  gap: var(--button-transparent-medium-whiteSpace-gap, 8px);
}

/* Disabled */

.primary:disabled,
.primary:disabled:hover,
.primary:disabled:active {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: var(--button-primary-disabled-background-color, #babecb);
  color: var(--button-primary-disabled-font-color, #f4f5f7);
  cursor: not-allowed;
}

.secondary:disabled,
.secondary:disabled:hover,
.secondary:disabled:active {
  border-radius: var(--button-secondary-medium-borderRadius-default, 16px);
  background: var(--button-secondary-disabled-background-color, #babecb);
  color: var(--button-secondary-disabled-font-color, #f4f5f7);
  cursor: not-allowed;
}

.outlined:disabled,
.outlined:disabled:hover,
.outlined:disabled:active {
  border-radius: var(--button-outlined-medium-borderRadius-default, 16px);
  border: 1px solid var(--button-outlined-disabled-border-color, #babecb);
  background: var(--button-outlined-disabled-background-color, #fff);
  color: var(--button-outlined-disabled-font-color, #f4f5f7);
  cursor: not-allowed;
}

.transparent:disabled,
.transparent:disabled:hover,
.transparent:disabled:active {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: transparent;
  color: var(--button-transparent-disabled-font-color, #f4f5f7);
  cursor: not-allowed;
}

/* Hover */

.primary:hover {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: var(--button-primary-hover-background-color, #0753e6);
}

.secondary:hover {
  border-radius: var(--button-secondary-medium-borderRadius-default, 16px);
  background: var(--button-secondary-hover-background-color, #c5c9d4);
}

.outlined:hover {
  border-radius: var(--button-outlined-medium-borderRadius-default, 16px);
  border: 1px solid var(--button-outlined-hover-border-color, #babecb);
}

.transparent:hover {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: transparent;
}

/* Active */

.primary:active {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: var(--button-primary-active-background-color, #064acc);
}

.secondary:active {
  border-radius: var(--button-secondary-medium-borderRadius-default, 16px);
  background: var(--button-secondary-active-background-color, #afb2bc);
}

.outlined:active {
  color: var(--button-outlined-active-font-color);
  border-radius: var(--button-outlined-medium-borderRadius-default, 16px);
  border: 1px solid var(--button-outlined-active-border-color, #babecb);
}

.transparent:active {
  border-radius: var(--button-primary-medium-borderRadius-default, 16px);
  background: transparent;
}

.primary .buttonContent {
  font-weight: 500;
}

.secondary .buttonContent {
  font-weight: 500;
}

.outlined .buttonContent {
  font-weight: 500;
}

.stretch {
  width: 100%;
}

.s {
  padding: var(--button-padding-vertical-s, 6px)
    var(--button-padding-horizontal-s, 12px);
  font-size: var(--font-size-s, 14px);
}

.m {
  padding: var(--button-padding-vertical-m, 8px)
    var(--button-padding-horizontal-m, 16px);
  font-size: var(--font-size-m, 14px);
}

.l {
  padding: var(--button-padding-vertical-l, 10px)
    var(--button-padding-horizontal-l, 16px);
  font-size: var(--font-size-l, 16px);
}
