/** TODO: use variables */
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--input-field-whiteSpace-label-gap, 8px);
}

.flex-gap-xs {
  gap: var(--input-field-whiteSpace-label-gap-xs, 4px);
}

.flex-gap-s {
  gap: var(--input-field-whiteSpace-label-gap-s, 8px);
}

.flex-gap-m {
  gap: var(--input-field-whiteSpace-label-gap-m, 12px);
}

.flex-gap-l {
  gap: var(--input-field-whiteSpace-label-gap-l, 16px);
}

.flex-gap-xl {
  gap: var(--input-field-whiteSpace-label-gap-xl, 20px);
}

.flex-gap-2xl {
  gap: var(--input-field-whiteSpace-label-gap-2xl, 24px);
}

.flex-gap-3xl {
  gap: var(--input-field-whiteSpace-label-gap-3xl, 28px);
}

.flex-gap-4xl {
  gap: var(--input-field-whiteSpace-label-gap-4xl, 32px);
}
