.tabHeaders {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}

.tabContent {
  border-radius: 4px;
  background-color: white;
}
